
# Levels of Measurement

There are four types of data that may be gathered for analysis, each one adding more to the next.

## Variable Types

Using the IMDb Ratings Dataset to illustrate the levels of measurement with real world data

In [1]:
# Pandas
import pandas as pd

# Plotting
import cufflinks as cf
cf.go_offline()

# Loading Data
fn = 'imdb_ratings_user1.csv'
df = pd.read_csv('../assets/dataset/' + fn)
# df.sample(10, axis=1)
df.sample(10, axis=1).sample(10)

,description,Title type,const,Year,Directors,Title,created,You rated,position,Num. Votes
203,NaN,Feature Film,tt0443543,2006,Neil Burger,The Illusionist,Wed Nov 28 00:00:00 2012,7,204,293576
812,NaN,Feature Film,tt0167190,2004,Guillermo del Toro,Hellboy,Sun Oct 24 00:00:00 2004,3,813,243371
967,NaN,TV Movie,tt0119781,1998,Rod Hardy,Nick Fury: Agent of Shield,Tue Jul 29 00:00:00 2003,6,968,2042
185,NaN,Feature Film,tt0319061,2003,Tim Burton,Big Fish,Thu Dec 13 00:00:00 2012,8,186,349428
1293,NaN,Feature Film,tt0087597,1984,Nick Castle,The Last Starfighter,Sat Nov 17 00:00:00 2001,4,1294,28900
1209,NaN,Feature Film,tt0244244,2001,Dominic Sena,Swordfish,Thu Apr 18 00:00:00 2002,9,1210,155057
1765,NaN,Video,tt0109552,1995,Bradford May,Darkman II: The Return of Durant,Thu Jun 21 00:00:00 2001,8,1766,3618
1707,NaN,Feature Film,tt0116320,1996,Kevin Hooks,Fled,Tue Jun 26 00:00:00 2001,5,1708,7045
1107,NaN,Feature Film,tt0146316,2001,Simon West,Lara Croft: Tomb Raider,Thu Oct 24 00:00:00 2002,4,1108,156300
1341,NaN,Short Film,tt0042820,1950,Jack Hannah,Out on a Limb,Mon Oct 15 00:00:00 2001,7,1342,299

## Level of Measurement

### Nominal

![](../assets/images/nominal-scales.png)

In this scale, categories are nominated names (hence “nominal”). There is no inherent order between categories. Put simply, one cannot say that a particular category is superior/ better than another. These can be either linguistic or numeric. **Nominal numbers** or categorical numbers are numerals used for identification only. The numerical value is irrelevant, and they do not indicate quantity, rank, or any other measurement.

#### Examples

Each category can only be considered as equal to the other.

* **Gender (Male/ Female)**:- One cannot say that Males are better than Females, or vice-versa.
* **Blood Groups (A/B/O/AB)**:- Here, too, the categories cannot be arranged in a logical order.
* **Bus Routes (101,40,37)**: The _order_ typically isn't relevant, as the number is used for identification purposes only.)

#### IMDB Dataset : Title Type

In [2]:
df[['Title type']].fillna('Unknown').iplot(kind='hist')

### Ordinal

![](../assets/images/ordinal-scales.png)

The various categories can be logically arranged in a meaningful order. However, the difference between the categories is not “meaningful”. Hence. you cannot do arithmetic with ordinal numbers -- they show sequence only.

#### Examples

* Ranks (1st/ 2nd/ 3rd, etc.): The ranks can be arranged in either ascending or descending order without difficulty. However, the difference between ranks is not the same - the difference between the 1st rank and 2nd rank may be 20 units, but that between the 2nd and 3rd ranks may be 3 units. In addition, it is not possible to say that the 1st rank is x times better than the 2nd or 3rd rank purely on the basis of the ranks.
* Ranks (Good/ Better/ Best), (No pain/ Mild pain/ Moderate pain/ Severe pain): Here, too, a meaningful arrangement (ordering) is possible, but the difference between the categories is subjective and not uniform. “Best” is not necessarily thrice as good as “Good”; or twice as good as “Better”.
* Likert scale (Strongly Disagree/ Disagree/ Neutral/ Agree/ Strongly Agree) : The ordering is flexible - the order can easily be reversed without affecting the interpretation - (Strongly Agree/ Agree/ Neutral/ Disagree/ Strongly Disagree). Again, the difference between categories is not uniform.

#### IMDB Dataset : Ratings

In [3]:
df[['You rated','IMDb Rating']].apply(pd.Series.value_counts).head(20)

     You rated  IMDb Rating
1.0         17          NaN
2.0         59          NaN
2.3        NaN            1
2.4        NaN            3
2.7        NaN            1
2.8        NaN            1
2.9        NaN            1
3.0        109            1
3.1        NaN            3
3.2        NaN            3
3.3        NaN            3
3.4        NaN            3
3.5        NaN            2
3.6        NaN            2
3.7        NaN            8
3.8        NaN            6
3.9        NaN            4
4.0        158            4
4.1        NaN            6
4.2        NaN            5

### Interval

![](../assets/images/example-of-interval-scale.jpeg)

Interval data is measured along a scale in which each position is equidistant from one another. This allows for the distance between two pairs to be equivalent in some way. The values (not categories) can be ordered and have a meaningful difference, but doubling is not meaningful. This is because of the absence of an “absolute zero”.

#### Examples

* **The Celsius scale**: The difference between 40 C and 50 C is the same as that between 20 C and 30 C (meaningful difference = equidistant). Besides, 50 C is hotter than 40 C (order). However, 20 C is not half as hot as 40 C and vice versa (doubling is not meaningful).
* **My level of happiness, rated from 1 to 10**: If I rate my happiness as 8, it doesn't mean I am twice as happy as whenever I rate my happiness as 4.

#### IMDB Dataset : Datetimes

In [4]:
df['Release Date (month/day/year)'] = pd.to_datetime(df['Release Date (month/day/year)'])
df = df.set_index('Release Date (month/day/year)')

In [5]:
df[['Title']].resample('3M','count').iplot()

In [6]:
df = df.reset_index().set_index('Title')

### Ratio

![](../assets/images/example-of-ratio-scale.jpeg)

The values can be ordered, have a meaningful difference, and doubling is also meaningful. There is an “absolute zero”. Ratio data can be multiplied and divided because not only is the difference between 1 and 2 the same as between 3 and 4, but also that 4 is twice as much as 2. Interval and ratio data measure quantities and hence are quantitative.  Because they can be measured on a scale, they are also called scale data.

#### Examples

* **The Kelvin scale**: 100 K is twice as hot as 50 K; the difference between values is meaningful and can be ordered.
* **Weight**: 100 kg is twice as heavy as 50 kg; the difference between 45 kg and 55 kg is the same as that between 105 kg and 100 kg; values can be arranged in an order (ascending/ descending).
* **Height**: 100 cm is taller than 50 cm; this difference is the same as that between 150 cm and 100 cm, or 200 cm and 150 cm; 100 cm is twice as tall as 50 cm; the values can be arranged in a particular manner (ascending/ descending).

#### IMDB Dataset : Runtime & Number of Votes

In [7]:
df[['Runtime (mins)','Num. Votes']].iplot(kind='hist',subplots=True,shape=(2,1))

## Summary

### Checkbox Table

![](../assets/images/summary-of-data-types-and-scales.png)

### Or is you prefer to go with the flow

![](../assets/images/Scales%20of%20Measurement.cmap)

## Continuous vs Discrete

![](../assets/images/continuous.svg)

Continuous measures are measured along a continuous scale which can be divided into fractions, such as temperature. Continuous variables allow for infinitely fine sub-division, which means if you can measure sufficiently accurately, you can compare two items and determine the difference.

Discrete variables are measured across a set of fixed values, such as age in years (not microseconds). These are commonly used on arbitrary scales, such as scoring your level of happiness, although such scales can also be continuous.

#### IMDB Dataset : Ratings

In [8]:
df[['You rated','IMDb Rating']].apply(pd.Series.value_counts).head(20)

     You rated  IMDb Rating
1.0         17          NaN
2.0         59          NaN
2.3        NaN            1
2.4        NaN            3
2.7        NaN            1
2.8        NaN            1
2.9        NaN            1
3.0        109            1
3.1        NaN            3
3.2        NaN            3
3.3        NaN            3
3.4        NaN            3
3.5        NaN            2
3.6        NaN            2
3.7        NaN            8
3.8        NaN            6
3.9        NaN            4
4.0        158            4
4.1        NaN            6
4.2        NaN            5

In [9]:
df[['You rated','IMDb Rating']].apply(pd.Series.value_counts).iplot(mode='markers')

In [10]:
df[['You rated','IMDb Rating']].apply(pd.Series.value_counts).ffill().iplot()

## References

1. [On the statistical treatment of football numbers](http://www-stat.wharton.upenn.edu/~hwainer/Readings/Frederick%20Lord_On%20the%20statistical%20treatment%20of%20football%20numbers.pdf) - Parable about the levels of measurement